<!DOCTYPE html>
<html>
    <head>
        <meta charset = -"utf-8">
        <title> {{pageTitle}} </title>
    </head>

    <body>
        {{> header}}
        <p> {{screamIt 'The Website is Under Maintenance'}} </p>
        <br>
        <p> {{paragraphTag}} </p>
        {{> footer}}
    </body>
</html>